[submodule "lib/WAV"]
	path = lib/WAV
	url = https://github.com/koobh/WAV
[submodule "lib/STFT"]
	path = lib/STFT
	url = https://github.com/koobh/STFT
[submodule "lib/WPE"]
	path = lib/WPE
	url = https://github.com/koobh/WPE
[submodule "lib/MLDR"]
	path = lib/MLDR
	url = https://github.com/koobh/MLDR
[submodule "lib/jsonConfig"]
	path = lib/jsonConfig
	url = https://github.com/koobh/jsonConfig
[submodule "lib/VADK"]
	path = lib/VADK
	url = https://github.com/kooBH/VADK.git
