# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# visual stduio
*.vs
*.vcxproj
*.filters
*.sln
*.dir
RelWithDebInfo
Release
Debug
x64
*.user
*.exe  

# external dependency  

lib/libtorch    